/* Styling the sliders */

.slider {
	position:relative;
	min-height:90px;
	padding:10px 20px;
}

.slider h3 {
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.slider p {
	position:absolute;
	right:74px;
	top:29px;
}

.colorful-slider{
	height:8px;
	/*height:200px;*/
	width:400px;
	margin-left:130px;
	margin-top:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	position:relative;
	float:left;
	border:1px solid #5B5B5B;
}

/* Three sider colors: */

.colorful-slider.blue{ 
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
	background-repeat: repeat-x; 
}

.slider-handle{
	position:absolute;
	left:0px;
	height:28px;
	width:12px;
	background:url("img/slider_handle.png") no-repeat;
	cursor:n-resize;
	top:-140%;
	-webkit-box-shadow:0px 2px 5px rgba(50, 50, 50, 0.13);
	-moz-box-shadow:0px 2px 5px rgba(50, 50, 50, 0.13);
	box-shadow:0px 2px 5px rgba(50, 50, 50, 0.13);
}

.slider-handle span {
	position:absolute;
	top:31px;
	left:-9px;
	font-size:13px;
	text-align:center;
}

